* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles for the page layout */
body {
  font-family: Arial, sans-serif;
  background-color:#000000;
  line-height: 1.6;
  margin: 0;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
}

.sidebar {
  background-color:#1a1a1a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0; /
  left: 0; /
}
.header{
  display:flex;
  justify-content:space-between;
  padding:00px 00px;
  z-index:1;
  border-bottom:1px solid #ccc;
  width:100%
  position;fixed:
  top:0;
  background-color: ;
  border-radius:0 0 10px 20px;
  overflow:hidden;
  background-position:center;
  
}
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-bottom: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  display: block;
}




.social-links a:hover {
  color: #007bff;
}

main {
  flex: 1;
  margin-left: 270px;
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile h1 {
  margin-bottom: 10px;
}


.follow-button {
  
  padding: 10px 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}

.follow-button:hover {
  background-color: #0056b3;
}

section {
  margin-top: 20px;
}

h2 {
  margin-bottom: 10px;
}
.card {
  display: inline-block;
  background-color: aqua;
  border-radius: 1px;
  padding: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Regular box shadow */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for the glow effect */
}

.card:hover {
  transform: scale(1.05); /* Scale effect on hover */
  box-shadow: 0 0 20px rgba(211, 211, 214, 0.6); /* Glow effect on hover */
}

.card h4 {
  margin-bottom: 0px;
}


.follow-button{
  position:fixed;
  top:20px;
  right:20px;
  padding:10px 20px;
  backgrond-color: ;
  color: ;
  text-decoration:none;
  border:2px;
  border-radius:10px;
  z-index:2;
}
.social-links p {
  margin-bottom: 10px; /* Adjust the margin as needed */
}

.social-links a {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust the margin as needed */
  text-decoration: none;
  color: #ffffff; /* Initial text color */
  transition: transform 0.3s ease-in-out, color 0.3s; /* Smooth transition for the transformation and color effect */
}

.social-links img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.social-links a:hover {
  transform: scale(1.1); /* Scale effect on hover */
  color: #007bff; /* Text color on hover */
}
